Repository OpsiMate/OpsiMate, changes with the labels that .github/labeler.yml gives for each.
All labels: DevOps, documentation, Server, UI, Test

fix: service controller
  apps/server/src/api/v1/services/controller.ts
Labels: Server

fix: now a new field service_id must be created in old database
  apps/server/src/dal/alertRepository.ts
Labels: Server

[FEAT]: Implement comprehensive tests for Users API endpoints
  apps/server/tests/users.test.ts
Labels: Server, Test

added mailer in default-config.yml
  default-config.yml
Labels: none

added mailer in config.ts
  apps/server/src/config/config.ts
Labels: Server

[FEAT]: Implement comprehensive tests for Providers API service discovery
  apps/server/tests/providers.test.ts
Labels: Server, Test

[FEAT]: Implement user creation API tests with validation checks
  apps/server/tests/users.test.ts
Labels: Server, Test

Remove unused `useServiceFilters` hook from Dashboard component, streamlining codebase.
  apps/client/src/components/Dashboard/useFilters.ts
Labels: UI

initial react testing library infra
  .github/workflows/ci.yaml
  apps/client/TESTING_SETUP.md
  apps/client/package.json
  apps/client/src/components/Dashboard/Dashboard.test.tsx
  apps/client/src/components/Dashboard/FilterPanel/FilterPanel.test.tsx
  apps/client/src/components/Dashboard/useServiceFilters.test.tsx
  apps/client/src/components/ValidationFeedback.test.tsx
  apps/client/src/lib/errorMapper.test.ts
  apps/client/src/test/README.md
  apps/client/src/test/setup.ts
  apps/client/src/test/test-utils.tsx
  apps/client/vitest.config.ts
  pnpm-lock.yaml
Labels: DevOps, documentation, UI, Test

Fixed issue 343
  apps/client/src/components/AddServiceDialog.tsx
Labels: UI

fix lint
  apps/client/src/components/Dashboard/Dashboard.test.tsx
  apps/client/src/components/Dashboard/Dashboard.tsx
Labels: UI, Test

remove linting for Client for now
  .github/workflows/ci.yaml
Labels: DevOps

Fix lint
  .github/workflows/ci.yaml
  apps/client/src/components/AddServiceDialog.tsx
  apps/client/src/components/AddServiceModal.tsx
  apps/client/src/components/CustomFieldModal.tsx
  apps/client/src/components/Dashboard/Dashboard.tsx
  apps/client/src/components/IntegrationDashboardDropdown.tsx
  apps/client/src/components/ProviderSidebar.tsx
  apps/client/src/components/ServiceTable.tsx
  apps/client/src/components/ui/command.tsx
  apps/client/src/components/ui/textarea.tsx
  apps/client/src/hooks/queries/services/useServices.ts
  apps/client/src/hooks/useFormErrors.ts
  apps/client/src/lib/api.ts
  apps/client/src/lib/errorMapper.ts
  apps/client/src/pages/Integrations.tsx
  apps/client/src/pages/Login.tsx
  apps/client/src/pages/MyProviders.tsx
  apps/client/src/pages/Profile.tsx
  apps/client/src/pages/Register.tsx
  apps/client/src/pages/Settings.tsx
Labels: DevOps, UI

let the warnings go
  .github/workflows/ci.yaml
Labels: DevOps

revert server tests addition to ci
  .github/workflows/ci.yaml
Labels: DevOps

fixed warnings in lint from adding test framework
  apps/client/src/test/TestProviders.tsx
  apps/client/src/test/test-utils.tsx
Labels: UI, Test

[FEAT]: Enhance Users API tests with comprehensive scenarios for user creation, retrieval, and role management
  apps/server/tests/users.test.ts
Labels: Server, Test

[FIX] Filters panel padding issue in collapsed state (#379)
  apps/client/src/components/Dashboard/Dashboard.tsx
Labels: UI

[FIX] Fix filters panel layout on minimized state and move to Dashboard comp (#379)
  apps/client/src/components/Dashboard/Dashboard.tsx
Labels: UI

Correct doc links added
  apps/client/src/pages/Integrations.tsx
Labels: UI

fix(ScrollToTopButton): Correct visibility in nested scroll containers
  apps/client/src/components/ScrollToTopButton.tsx
  apps/client/src/pages/Integrations.tsx
Labels: UI

Add audit log creation when adding a new secret
  apps/server/src/api/v1/secrets/controller.ts
  apps/server/src/app.ts
  apps/server/src/bl/secrets/secretsMetadata.bl.ts
  packages/shared/src/types.ts
Labels: Server

Added test for providers
  apps/server/tests/providers.test.ts
Labels: Server, Test

fix: page my-providers was hidden for viewers
  apps/client/src/App.tsx
  apps/client/src/components/LeftSidebar.tsx
  apps/client/src/lib/auth.ts
Labels: UI

Add providers.bulk.test.ts for bulk create API endpoint
  apps/server/tests/providers.bulk.test.ts
Labels: Server, Test

[FIX]: Prevent drag-and-drop from accepting invalid file types (#305)
  apps/client/src/pages/Settings.tsx
Labels: UI

[FIX]: Validate SSH and KubeConfig files before encryption (#305)
  apps/client/src/pages/Settings.tsx
  apps/server/package.json
  apps/server/src/api/v1/secrets/controller.ts
  apps/server/src/utils/validators/sshpk.d.ts
  apps/server/src/utils/validators/validators.ts
  pnpm-lock.yaml
Labels: Server, UI

fix:lint issue in validators
  apps/server/src/api/v1/secrets/controller.ts
  apps/server/src/utils/validators/sshpk.d.ts
  apps/server/src/utils/validators/validators.ts
Labels: Server

[FIX]: Validate SSH and KubeConfig files before encryption (#305)
  apps/client/src/pages/Settings.tsx
  apps/server/src/api/v1/secrets/controller.ts
Labels: Server, UI

Create sync-version
  .github/workflows/sync-version
Labels: DevOps

Update sync-version
  .github/workflows/sync-version
Labels: DevOps

feat(providers): Implement robust error logging in controller catch blocks
  apps/server/babel.config.cjs
  apps/server/jest.config.cjs
  apps/server/jest.config.js
  apps/server/package.json
  apps/server/src/api/v1/providers/controller.ts
  apps/server/src/api/v1/secrets/router.ts
  apps/server/src/dal/db.ts
  apps/server/src/dal/kubeConnector.ts
  apps/server/src/dal/sshClient.ts
  apps/server/tests/providers.test.ts
  apps/server/tests/setup.js
  apps/server/tsconfig.jest.json
  package-lock.json
  package.json
  pnpm-lock.yaml
Labels: Server, Test

Add tests for provider deletion and audit log entries
  apps/server/tests/delete-provider.test.ts
Labels: Server, Test

[FEAT]: Add user profile retrieval tests with role-based access control
  apps/server/tests/users.test.ts
Labels: Server, Test

[FEAT]: Add comprehensive tests for Providers API including creation and validation scenarios
  apps/server/tests/providers.test.ts
Labels: Server, Test

the node needs 0.0.0.0 as a binding address
  docker-compose.yml
Labels: none

[FEAT]: Add delete provider test in provider.test.ts
  apps/server/tests/providers.test.ts
Labels: Server, Test

[FIX]: Add API key whitespace validation for integrations
  apps/client/src/components/ValidationFeedback.tsx
  apps/client/src/pages/Integrations.tsx
  packages/shared/src/schemas.ts
Labels: UI

[FIX]: Remove unnecessary type assertions
  apps/server/src/bl/integrations/integration-connector/datadog-integration-connector.ts
  apps/server/src/bl/integrations/integration-connector/kibana-integration-connector.ts
Labels: Server

[TEST]: API test for get providers endpoint - Fixed and Existing TestCase as well
  apps/server/tests/providers.test.ts
Labels: Server, Test

.github/labeler.yml:

DevOps:
  - 'devops*'
  - 'infrastructure/**'
  - 'ci/**'
  - 'docker/**'
  - '**/.github/**'

documentation:
  - 'docs/**'
  - '**/*.md'
  - 'README.md'
  - 'documentation/**'

Server:
  - '**/server/**'

UI:
  - '**/client/**'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.html'

Test:
  - '**/*.test.*'
  - '**/tests/**'
  - '**/__tests__/**'
  - '**/test/**'
