Repository OpsiMate/OpsiMate, changes with the labels that .github/labeler.yml gives for each.
All labels: DevOps, documentation, Server, UI, Test

.github/labeler.yml:

DevOps:
  - 'devops*'
  - 'infrastructure/**'
  - 'ci/**'
  - 'docker/**'
  - '**/.github/**'

documentation:
  - 'docs/**'
  - '**/*.md'
  - 'README.md'
  - 'documentation/**'

Server:
  - '**/server/**'

UI:
  - '**/client/**'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.html'

Test:
  - '**/*.test.*'
  - '**/tests/**'
  - '**/__tests__/**'
  - '**/test/**'

Add mail service
  apps/server/src/service/mail.service.ts
Labels: Server

Add forgot password components
  apps/client/src/components/ForgotPasswordForm.tsx
  apps/client/src/components/ForgotPasswordSuccess.tsx
  apps/client/src/pages/ForgotPassword.tsx
  apps/client/src/pages/Login.tsx
Labels: UI

Add forgot and reset password routes
  apps/client/src/App.tsx
Labels: UI

Add reset password components
  apps/client/src/components/ResetPasswordByEmailForm.tsx
  apps/client/src/components/ResetPasswordByEmailInvalid.tsx
  apps/client/src/components/ResetPasswordByEmailSuccess.tsx
  apps/client/src/pages/ResetPasswordByEmail.tsx
Labels: UI

Add reset and forgot password implementation
  apps/server/src/api/v1/users/controller.ts
  apps/server/src/api/v1/v1.ts
  apps/server/src/app.ts
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/dal/userRepository.ts
  apps/server/src/utils/encryption.ts
  packages/shared/src/types.ts
Labels: Server

Update non existing email validation
  apps/client/src/components/ForgotPasswordSuccess.tsx
  apps/server/src/api/v1/users/controller.ts
Labels: Server, UI

Fix navigation for 401 error
  apps/client/src/lib/api.ts
Labels: UI

Update exception rules
  apps/client/src/pages/ForgotPassword.tsx
  apps/client/src/pages/ResetPasswordByEmail.tsx
Labels: UI

Update email transporter prop
  apps/server/src/service/mail.service.ts
Labels: Server

Update validations and transactions
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/dal/passwordResetsRepository.ts
  apps/server/src/dal/userRepository.ts
Labels: Server

Fix 401 redirect flow
  apps/client/src/lib/api.ts
Labels: UI

Add APP_BASE_URL validation
  apps/server/src/utils/encryption.ts
Labels: Server

Fix types and logs
  apps/client/src/components/ResetPasswordByEmailForm.tsx
  apps/server/src/api/v1/users/controller.ts
Labels: Server, UI

Add token validation
  apps/server/src/api/v1/users/controller.ts
Labels: Server

[REFAC]: Update integration handling to use shared types and improve URL history management in Integrations component
  apps/client/src/lib/integrationUrlHistory.tsx
  apps/client/src/pages/Integrations.tsx
Labels: UI

Add Zod schema validations
  apps/server/src/api/v1/users/controller.ts
  packages/shared/src/schemas.ts
Labels: Server

add: log search and filtering to service logs viewer
  apps/client/src/components/LogSearchInput.tsx
  apps/client/src/components/RightSidebarWithLogs.tsx
  apps/client/src/pages/MyProviders.tsx
Labels: UI

fix: linter errors
  apps/client/src/pages/MyProviders.tsx
Labels: UI

fix: address pr comments
  apps/client/src/components/LogSearchInput.tsx
  apps/client/src/components/RightSidebarWithLogs.tsx
  apps/client/src/lib/api.ts
  apps/client/src/pages/MyProviders.tsx
Labels: UI

Fix new password validations
  apps/client/src/components/ResetPasswordByEmailForm.tsx
  apps/client/src/lib/errorMapper.ts
  apps/client/src/pages/ResetPasswordByEmail.tsx
  apps/server/src/api/v1/users/controller.ts
  packages/shared/src/schemas.ts
Labels: Server, UI

FIx error handling
  apps/client/src/pages/ResetPasswordByEmail.tsx
Labels: UI

Fix validation token hooks
  apps/client/src/pages/ResetPasswordByEmail.tsx
Labels: UI

test(use-toast): add comprehensive Vitest test coverage for useToast hook
  apps/client/src/hooks/use-toast.test.ts
Labels: UI, Test

Export TOAST_REMOVE_DELAY to test
  apps/client/src/hooks/use-toast.test.ts
  apps/client/src/hooks/use-toast.ts
Labels: UI, Test

Amount reduced
  apps/client/src/hooks/use-toast.ts
Labels: UI

Comment changes
  apps/client/src/hooks/use-toast.test.ts
Labels: UI, Test

add keyboard and accessibility tests, add focus rings to tab and button
  apps/client/package.json
  apps/client/src/components/DashboardLayout.tsx
  apps/client/src/components/ui/button.tsx
  apps/client/src/components/ui/card.tsx
  apps/client/src/components/ui/tabs.tsx
  apps/client/src/pages/Providers.tsx
  apps/client/src/test/accessibility/keyboard-navigation.test.tsx
  apps/client/src/test/setup.ts
  apps/client/vitest.config.ts
  pnpm-lock.yaml
Labels: UI, Test

Remove unecessary try catch block
  apps/server/src/bl/users/user.bl.ts
Labels: Server

Fix error handling
  apps/server/src/api/v1/users/controller.ts
  apps/server/src/bl/users/user.bl.ts
Labels: Server

Fix lint warning
  apps/client/src/pages/ResetPasswordByEmail.tsx
Labels: UI

[FEAT]: Add search functionality - add search bar - add '/' shortcut to navigate search bar - disable all shortcuts when user is typing
  apps/client/src/pages/TVMode.tsx
Labels: UI

[FEAT]: Update LeftSidebar component with improved button layout and styling for Slack and GitHub links
  apps/client/src/components/LeftSidebar.tsx
Labels: UI

[FIX]: potential issue - issue was detected by coderabbitai
  apps/client/src/pages/TVMode.tsx
Labels: UI

update: disable shortcuts with searchInputRef
  apps/client/src/pages/TVMode.tsx
Labels: UI

[FIX]: Update integration URL handling to use integration ID instead of name in history management
  apps/client/src/pages/Integrations.tsx
Labels: UI

change image location
  apps/client/images/logo.png
  apps/client/public/images/git.png
  apps/client/public/images/slack.png
Labels: UI

Update sync-version.yml for PAT and author format
  .github/workflows/sync-version.yml
Labels: DevOps

resolved tusk409
  apps/client/src/components/AddServiceDialog.tsx
  apps/server/src/api/v1/services/controller.ts
  apps/server/tests/services-systemd.test.ts
  packages/shared/src/schemas.ts
Labels: Server, UI, Test

fix: linter errors
  apps/client/src/pages/MyProviders.tsx
Labels: UI

fix: address pr comments
  apps/client/src/components/LogSearchInput.tsx
  apps/client/src/components/RightSidebarWithLogs.tsx
  apps/client/src/lib/api.ts
  apps/client/src/pages/MyProviders.tsx
Labels: UI
