Repository OpsiMate/OpsiMate, changes with the labels that .github/labeler.yml gives for each.
All labels: DevOps, documentation, Server, UI, Test

.github/labeler.yml:

DevOps:
  - 'devops*'
  - 'infrastructure/**'
  - 'ci/**'
  - 'docker/**'
  - '**/.github/**'

documentation:
  - 'docs/**'
  - '**/*.md'
  - 'README.md'
  - 'documentation/**'

Server:
  - '**/server/**'

UI:
  - '**/client/**'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.html'

Test:
  - '**/*.test.*'
  - '**/tests/**'
  - '**/__tests__/**'
  - '**/test/**'

Add smtp from value
  apps/server/src/service/mail.service.ts
Labels: Server

Add resolve env placeholders under config.ts
  apps/server/src/config/config.ts
Labels: Server

Fix mail client and reset password db table
  apps/server/src/app.ts
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/dal/external-client/mail-client.ts
  apps/server/src/dal/models.ts
  apps/server/src/dal/passwordResetsRepository.ts
Labels: Server

Add reset passwords table
  apps/server/src/dal/passwordResetsRepository.ts
Labels: Server

Remove unecessary try catch block
  apps/server/src/bl/users/user.bl.ts
Labels: Server

FIx mail transporter initialization
  apps/client/src/components/ForgotPasswordForm.tsx
  apps/client/src/pages/ForgotPassword.tsx
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/service/mail.service.ts
Labels: Server, UI

Add forgot password components
  apps/client/src/components/ForgotPasswordForm.tsx
  apps/client/src/components/ForgotPasswordSuccess.tsx
  apps/client/src/pages/ForgotPassword.tsx
  apps/client/src/pages/Login.tsx
Labels: UI

Fix location pathname
  apps/client/src/pages/Login.tsx
Labels: UI

Add env variables to default-config.yml
  default-config.yml
Labels: none

Add reset password email template
  apps/server/src/utils/mailTemplate.ts
Labels: Server

Add token validation
  apps/server/src/api/v1/users/controller.ts
Labels: Server

Update reset password error handling
  apps/server/src/bl/users/user.bl.ts
Labels: Server

Add standard config for mail service
  apps/server/src/config/config.ts
  apps/server/src/service/mail.service.ts
Labels: Server

Fix 401 redirect flow
  apps/client/src/lib/api.ts
Labels: UI

Fix mail service initialization
  apps/server/src/app.ts
  apps/server/src/service/mail.service.ts
Labels: Server

Add forgot and reset password routes
  apps/client/src/App.tsx
Labels: UI

Fix new password validations
  apps/client/src/components/ResetPasswordByEmailForm.tsx
  apps/client/src/lib/errorMapper.ts
  apps/client/src/pages/ResetPasswordByEmail.tsx
  apps/server/src/api/v1/users/controller.ts
  packages/shared/src/schemas.ts
Labels: Server, UI

FIx error handling
  apps/client/src/pages/ResetPasswordByEmail.tsx
Labels: UI

set smtp user and pass env variables in ci yaml
  .github/workflows/ci.yaml
Labels: DevOps

Fix env definitions
  .github/workflows/ci.yaml
Labels: DevOps

Wrap forgot password flow
  apps/server/src/bl/users/user.bl.ts
Labels: Server

Add mail configuration instructions and remove env vars replace
  apps/client/src/components/ForgotPasswordSuccess.tsx
  apps/server/src/config/config.ts
  default-config.yml
Labels: Server, UI

Remove mail env vars
  .github/workflows/ci.yaml
Labels: DevOps

Fix lint errors
  apps/server/src/config/config.ts
Labels: Server

Add mail base link url
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/config/config.ts
  apps/server/src/dal/external-client/mail-client.ts
  apps/server/src/utils/encryption.ts
  default-config.yml
Labels: Server

test(LeftSidebar): add comprehensive unit tests for sidebar component
  apps/client/src/components/LeftSidebar.test.tsx
Labels: UI, Test

test(LeftSidebar): improve mocks and refine accessibility test assertions
  apps/client/src/components/LeftSidebar.test.tsx
Labels: UI, Test

(feat): update index.html metadata and OG image for correct Slack preview
  apps/client/index.html
Labels: UI

Replace images with OpsiMate banner and adjust dimensions
  apps/client/index.html
  apps/client/public/images/banner.png
Labels: UI

Fix lint errors
  apps/server/src/dal/external-client/mail-client.ts
Labels: Server

Rollback error handling in send email
  apps/server/src/bl/users/user.bl.ts
Labels: Server

small fix
  apps/client/src/components/ui/tabs.tsx
  apps/client/src/pages/TVMode.tsx
  apps/client/src/test/accessibility/keyboard-navigation.test.tsx
Labels: UI, Test

docs: Add secrets management documentation
  docs/README.md
  docs/secrets.md
Labels: documentation

Adding lint to client
  LINTING_GUIDE.md
  apps/client/.prettierignore
  apps/client/.prettierrc
  apps/client/eslint.config.js
  apps/client/package.json
  apps/client/tailwind.config.ts
  apps/client/vite.config.ts
  apps/client/vitest.config.ts
  pnpm-lock.yaml
Labels: documentation, UI

more changes
  apps/server/src/api/v1/providers/controller.ts
  apps/server/src/api/v1/secrets/controller.ts
  apps/server/src/api/v1/services/controller.ts
  apps/server/src/index.ts
Labels: Server

use js
  apps/server/src/api/v1/alerts/controller.ts
  apps/server/src/api/v1/custom-fields/controller.ts
  apps/server/src/api/v1/integrations/controller.ts
  apps/server/src/api/v1/secrets/controller.ts
  apps/server/src/api/v1/secrets/router.ts
  apps/server/src/api/v1/services/router.ts
  apps/server/src/api/v1/tags/controller.ts
  apps/server/src/api/v1/v1.ts
  apps/server/src/api/v1/views/controller.ts
  apps/server/src/app.ts
  apps/server/src/bl/alerts/alert.bl.ts
  apps/server/src/bl/custom-fields/serviceCustomField.bl.ts
  apps/server/src/bl/integrations/integration-connector/datadog-integration-connector.ts
  apps/server/src/bl/integrations/integration-connector/grafana-integration-connector.ts
  apps/server/src/bl/integrations/integration-connector/integration-connector-factory.ts
  apps/server/src/bl/integrations/integration-connector/kibana-integration-connector.ts
  apps/server/src/bl/integrations/integration.bl.ts
  apps/server/src/bl/providers/provider-connector/k8sProviderConnector.ts
  apps/server/src/bl/providers/provider-connector/providerConnectorFactory.ts
  apps/server/src/bl/providers/provider-connector/vmProviderConnector.ts
  apps/server/src/bl/providers/provider.bl.ts
  apps/server/src/bl/secrets/secretsMetadata.bl.ts
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/dal/external-client/mail-client.ts
  apps/server/src/dal/integrationRepository.ts
  apps/server/src/dal/kubeConnector.ts
  apps/server/src/dal/passwordResetsRepository.ts
  apps/server/src/dal/providerRepository.ts
  apps/server/src/dal/secretsMetadataRepository.ts
  apps/server/src/dal/serviceCustomFieldRepository.ts
  apps/server/src/dal/serviceCustomFieldValueRepository.ts
  apps/server/src/dal/serviceRepository.ts
  apps/server/src/dal/sshClient.ts
  apps/server/src/dal/viewRepository.ts
  apps/server/src/jobs/pull-grafana-alerts-job.ts
  apps/server/tests/alerts.test.ts
  apps/server/tests/audit.test.ts
  apps/server/tests/auth.test.ts
  apps/server/tests/encryption.test.ts
  apps/server/tests/isZodError.test.ts
Labels: Server, Test

feat: enhance CI/CD with tests, coverage, and artifacts
  .github/workflows/coverage.yaml
  .github/workflows/deploy.yaml
  README.md
  apps/server/jest.config.js
  apps/server/package.json
  apps/server/tests/setup.ts
  apps/server/vitest.config.ts
  pnpm-lock.yaml
Labels: DevOps, documentation, Server, Test

fix
  package.json
  turbo.json
Labels: none

fix
  Dockerfile
  Dockerfile.server
  apps/server/src/config/config.ts
Labels: Server

remove jest
  apps/server/jest.config.js
  apps/server/package.json
  pnpm-lock.yaml
Labels: Server
