Repository OpsiMate/OpsiMate, changes with the labels that .github/labeler.yml gives for each.
All labels: DevOps, documentation, Server, UI, Test

Bugfix/#228 : Remove Context field from K8s Provider form
  apps/client/src/components/ProviderSidebar.tsx
Labels: UI

192: Feature – Integration URL Links should redirect to relevant docs page
  apps/client/src/pages/Integrations.tsx
Labels: UI

229: Bug – Documentation Button in Integration 'About' Section Does Nothing
  apps/client/src/pages/Integrations.tsx
Labels: UI

fix esm issue - downgrade kubernetes/client-node to 0.22.3
  apps/server/package.json
  pnpm-lock.yaml
Labels: Server

fix esm issue
  apps/server/src/dal/kubeConnector.ts
Labels: Server

feat(#235): add GET / endpoint with welcome message
  apps/server/src/api/health.ts
Labels: Server

Removed unwanted line
  apps/server/src/api/health.ts
Labels: Server

setup of EC2 instance to be managed by OpsiMate for dev environment
  .gitignore
  dev_setup/main.tf
  dev_setup/modules/ec2_setup/main.tf
  dev_setup/modules/ec2_setup/variables.tf
Labels: none

feat(#234): Allow Updating Existing Secrets
  apps/client/src/pages/Settings.tsx
Labels: UI

add backend side draft implementation for update files
  apps/server/src/api/v1/secrets/controller.ts
  apps/server/src/api/v1/secrets/router.ts
  apps/server/src/bl/secrets/secretsMetadata.bl.ts
  apps/server/src/dal/secretsMetadataRepository.ts
Labels: Server

fix bug that statuses has the wrong color
  apps/client/src/components/FilterPanel.tsx
  apps/client/src/pages/MyProviders.tsx
  apps/client/src/pages/TVMode.tsx
Labels: UI

Review
  apps/client/src/lib/api.ts
  apps/client/src/lib/sslKeys.ts
  apps/client/src/pages/Settings.tsx
  apps/server/src/api/v1/secrets/controller.ts
  apps/server/src/api/v1/secrets/router.ts
  apps/server/src/bl/secrets/secretsMetadata.bl.ts
  apps/server/src/dal/secretsMetadataRepository.ts
Labels: Server, UI

New Docker setup for development making contribution easier for everyone.
  .gitignore
  CONTRIBUTING.md
  docker-compose.yml
  package.json
  start.sh
Labels: documentation

Done with najor changes
  CONTRIBUTING.md
  README.md
  docker-compose.yml
  package.json
  scripts/run.sh
  start.sh
Labels: documentation

name changes for better to make it more explicit
  README.md
  scripts/start-docker.sh
Labels: documentation

Solved some issues and secret title and type now is changable iwithout any errors
  apps/client/src/lib/api.ts
  apps/client/src/lib/sslKeys.ts
  apps/client/src/pages/Settings.tsx
  apps/server/src/api/v1/secrets/controller.ts
  apps/server/src/api/v1/secrets/router.ts
  apps/server/src/bl/secrets/secretsMetadata.bl.ts
  apps/server/src/dal/secretsMetadataRepository.ts
Labels: Server, UI

A sample fix which works and looks good to me so far
  apps/server/jest.config.js
  apps/server/package.json
  apps/server/src/api/v1/secrets/router.ts
  apps/server/src/bl/providers/provider-connector/k8sProviderConnector.ts
  apps/server/src/dal/alertRepository.ts
  apps/server/src/dal/db.ts
  apps/server/src/dal/kubeConnector.ts
  apps/server/src/dal/sshClient.ts
  apps/server/tsconfig.json
  pnpm-lock.yaml
Labels: Server

A sample fix which works and looks good to me so far
  apps/server/jest.config.js
  apps/server/package.json
  apps/server/src/api/v1/secrets/router.ts
  apps/server/src/bl/providers/provider-connector/k8sProviderConnector.ts
  apps/server/src/dal/alertRepository.ts
  apps/server/src/dal/db.ts
  apps/server/src/dal/kubeConnector.ts
  apps/server/src/dal/sshClient.ts
  apps/server/tsconfig.json
  pnpm-lock.yaml
Labels: Server

fix filter is case sensitive
  apps/client/src/components/FilterPanel.tsx
  apps/client/src/pages/Dashboard.tsx
Labels: UI

Initial commit for testing new docker seperation
  Dockerfile.client
  Dockerfile.server
  docker-compose.dev.yml
Labels: none

[FEAT]: Add GitHub Action workflow for PR title validation
  .github/workflows/PR-validation.yml
Labels: DevOps

[BUG]: Fix PR validation workflow conflicting with conventional commits
  .github/workflows/PR-validation.yml
Labels: DevOps

[BUG]: Fix invalid HTML comment syntax in JSX
  apps/client/src/pages/Settings.tsx
Labels: UI

[FEAT]: Update workflow name to proper case
  .github/workflows/PR fields validation.yml
Labels: DevOps

change name
  .github/workflows/PR-validation.yml
Labels: DevOps

change from bug to fix
  .github/workflows/PR fields validation.yml
Labels: DevOps

Save changes
  apps/client/src/lib/api.ts
  apps/client/src/lib/sslKeys.ts
  apps/server/src/api/v1/secrets/controller.ts
  apps/server/src/api/v1/secrets/router.ts
  apps/server/src/bl/secrets/secretsMetadata.bl.ts
  apps/server/src/dal/secretsMetadataRepository.ts
Labels: Server, UI

[FEAT]: Implement getProviderById endpoint and update router
  apps/server/src/api/v1/providers/controller.ts
  apps/server/src/api/v1/providers/router.ts
  apps/server/src/bl/providers/provider.bl.ts
Labels: Server

[FEAT]: Add refreshProvider functionality to API and UI for real-time service status updates
  apps/client/src/lib/api.ts
  apps/client/src/pages/MyProviders.tsx
  apps/server/src/api/v1/providers/controller.ts
  apps/server/src/api/v1/providers/router.ts
  apps/server/src/bl/providers/provider.bl.ts
Labels: Server, UI

Fix - 243 : Label Docker services as "Pod" for Kubernetes providers on My Providers page
  apps/client/src/pages/MyProviders.tsx
Labels: UI

[Fix] 200 Update provider IP validation to accept DNS hostnames as well as IP addresses
  apps/client/src/components/ValidationFeedback.tsx
Labels: UI

test commit 1
  .github/workflows/release.yml
Labels: DevOps

test commit 2
  .github/workflows/release.yml
Labels: DevOps

Revert "test commit 1"
  .github/workflows/release.yml
Labels: DevOps

test commit 3
  .github/workflows/release.yml
Labels: DevOps

test commit 4
  .github/workflows/release.yml
Labels: DevOps

Revert "Karan/workflow"
  .github/workflows/release.yml
Labels: DevOps

test commit 5
  .github/workflows/release.yml
Labels: DevOps

reconf
  Dockerfile.client
Labels: none

feat: allow admins to edit user details and reset passwords
  apps/client/src/components/EditUserModal.tsx
  apps/client/src/components/ResetPasswordModal.tsx
  apps/client/src/pages/Settings.tsx
  apps/server/src/api/v1/users/controller.ts
  apps/server/src/api/v1/users/router.ts
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/dal/userRepository.ts
Labels: Server, UI

.github/labeler.yml:

DevOps:
  - 'devops*'
  - 'infrastructure/**'
  - 'ci/**'
  - 'docker/**'
  - '**/.github/**'

documentation:
  - 'docs/**'
  - '**/*.md'
  - 'README.md'
  - 'documentation/**'

Server:
  - '**/server/**'

UI:
  - '**/client/**'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.html'

Test:
  - '**/*.test.*'
  - '**/tests/**'
  - '**/__tests__/**'
  - '**/test/**'
