Repository OpsiMate/OpsiMate, changes with the labels that .github/labeler.yml gives for each.
All labels: DevOps, documentation, Server, UI, Test

add: log search and filtering to service logs viewer
  apps/client/src/components/LogSearchInput.tsx
  apps/client/src/components/RightSidebarWithLogs.tsx
  apps/client/src/pages/MyProviders.tsx
Labels: UI

fix: indentation , prettier issue
  apps/client/src/pages/MyProviders.tsx
Labels: UI

refactor: use hooks and address pr comments
  apps/client/src/components/LogSearchInput.tsx
  apps/client/src/components/RightSidebarWithLogs.tsx
  apps/client/src/hooks/usePersistedSearch.ts
  apps/client/src/hooks/useServiceLogs.ts
  apps/client/src/pages/MyProviders.tsx
Labels: UI

feat: implement full container logs retrieval (#421)
  apps/client/src/hooks/queries/services/useServiceLogs.ts
  apps/client/src/lib/api.ts
  apps/client/tsconfig.app.json
  apps/server/src/api/v1/services/controller.ts
  apps/server/src/bl/providers/provider-connector/k8sProviderConnector.ts
  apps/server/src/bl/providers/provider-connector/providerConnector.ts
  apps/server/src/bl/providers/provider-connector/vmProviderConnector.ts
  apps/server/src/dal/kubeConnector.ts
  apps/server/src/dal/sshClient.ts
  apps/server/tsconfig.json
  default-config.yml
  package-lock.json
  packages/shared/src/schemas.ts
Labels: Server, UI

fix: update TypeScript path mappings for better IDE support
  apps/client/tsconfig.app.json
  apps/client/tsconfig.json
Labels: UI

fix: clobber on persistKey change
  apps/client/src/hooks/usePersistedSearch.ts
Labels: UI

refactor: valid range swap & remove duplicate fetchlogs
  apps/client/src/components/RightSidebarWithLogs.tsx
Labels: UI

fix: cancel pending debounce
  apps/client/src/hooks/usePersistedSearch.ts
Labels: UI

Update apps/server/tests/services-systemd.test.ts
  apps/server/tests/services-systemd.test.ts
Labels: Server, Test

fix: wrongly used state
  apps/client/src/components/RightSidebarWithLogs.tsx
Labels: UI

[FIX]: Introduce helper function to convert catalog ID to integration type
  apps/client/src/pages/Integrations.tsx
Labels: UI

feat: Implement search functionality to Audit Log
  apps/client/src/pages/Settings.tsx
Labels: UI

changing noc to operation
  apps/client/src/components/AddUserModal.tsx
  apps/client/src/components/LeftSidebar.tsx
  apps/client/src/lib/auth.ts
  apps/client/src/lib/permissions.ts
  apps/client/src/pages/Settings.tsx
  apps/client/src/types/index.ts
  apps/server/src/dal/userRepository.ts
  packages/shared/src/types.ts
Labels: Server, UI

stabilize tests ensuring all tests are keeping highest standard
  apps/server/tests/api/providers.test.ts
  apps/server/tests/isZodError.test.ts
  apps/server/tests/providers.test.ts
  apps/server/tests/setup.ts
  apps/server/tests/test-custom-fields-basic.ts
  apps/server/tests/test-custom-fields.ts
  apps/server/tests/test-integration.ts
  apps/server/tests/test-private-key.ts
  apps/server/tests/test-tags.ts
  apps/server/tests/users.test.ts
Labels: Server, Test

ease pr title validation
  .github/workflows/PR fields validation.yml
Labels: DevOps

feat: Add TVMode test suit and update documentation
  apps/client/src/pages/TVMode.test.tsx
Labels: UI, Test

ix: address coderabbit review comments - race condition
  apps/client/src/hooks/useServiceLogs.ts
  apps/client/src/lib/api.ts
Labels: UI

fix: pr comments - parse date issue, regex highlighting
  apps/client/src/hooks/useServiceLogs.ts
Labels: UI

docs: Add comprehensive TV Mode documentation
  README.md
  docs/IMPLEMENTATION_SUMMARY.md
  docs/INTEGRATION_GUIDE.md
  docs/README.md
  docs/SCREENSHOTS.md
  docs/tv-mode.md
Labels: documentation

docs: Add language specifiers to code blocks
  docs/INTEGRATION_GUIDE.md
  docs/tv-mode.md
Labels: documentation

remove check and section
  apps/server/src/dal/userRepository.ts
Labels: Server

Add React import
  apps/client/src/components/ResetPasswordByEmailSuccess.tsx
Labels: UI

Fix lint warning
  apps/client/src/pages/ResetPasswordByEmail.tsx
Labels: UI

Add reset and forgot password implementation
  apps/server/src/api/v1/users/controller.ts
  apps/server/src/api/v1/v1.ts
  apps/server/src/app.ts
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/dal/userRepository.ts
  apps/server/src/utils/encryption.ts
  packages/shared/src/types.ts
Labels: Server

Fix types and logs
  apps/client/src/components/ResetPasswordByEmailForm.tsx
  apps/server/src/api/v1/users/controller.ts
Labels: Server, UI

Update validations and transactions
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/dal/passwordResetsRepository.ts
  apps/server/src/dal/userRepository.ts
Labels: Server

Add APP_BASE_URL validation
  apps/server/src/utils/encryption.ts
Labels: Server

Update non existing email validation
  apps/client/src/components/ForgotPasswordSuccess.tsx
  apps/server/src/api/v1/users/controller.ts
Labels: Server, UI

Add mail service
  apps/server/src/service/mail.service.ts
Labels: Server

Install nodemailer
  apps/server/package.json
  pnpm-lock.yaml
Labels: Server

Add mail transporter verification
  apps/server/src/service/mail.service.ts
Labels: Server

Add reset password components
  apps/client/src/components/ResetPasswordByEmailForm.tsx
  apps/client/src/components/ResetPasswordByEmailInvalid.tsx
  apps/client/src/components/ResetPasswordByEmailSuccess.tsx
  apps/client/src/pages/ResetPasswordByEmail.tsx
Labels: UI

Update email transporter prop
  apps/server/src/service/mail.service.ts
Labels: Server

Fix validation token hooks
  apps/client/src/pages/ResetPasswordByEmail.tsx
Labels: UI

Update exception rules
  apps/client/src/pages/ForgotPassword.tsx
  apps/client/src/pages/ResetPasswordByEmail.tsx
Labels: UI

Add Zod schema validations
  apps/server/src/api/v1/users/controller.ts
  packages/shared/src/schemas.ts
Labels: Server

Fix error handling
  apps/server/src/api/v1/users/controller.ts
  apps/server/src/bl/users/user.bl.ts
Labels: Server

Fix navigation for 401 error
  apps/client/src/lib/api.ts
Labels: UI

Update routes rules for forgot and reset password components
  apps/client/src/components/AuthGuard.tsx
Labels: UI

Fix imports
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/dal/passwordResetsRepository.ts
  pnpm-lock.yaml
Labels: Server

.github/labeler.yml:

DevOps:
  - 'devops*'
  - 'infrastructure/**'
  - 'ci/**'
  - 'docker/**'
  - '**/.github/**'

documentation:
  - 'docs/**'
  - '**/*.md'
  - 'README.md'
  - 'documentation/**'

Server:
  - '**/server/**'

UI:
  - '**/client/**'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.html'

Test:
  - '**/*.test.*'
  - '**/tests/**'
  - '**/__tests__/**'
  - '**/test/**'
