Repository OpsiMate/OpsiMate, changes with the labels that .github/labeler.yml gives for each.
All labels: DevOps, documentation, Server, UI, Test

.github/labeler.yml:

DevOps:
  - 'devops*'
  - 'infrastructure/**'
  - 'ci/**'
  - 'docker/**'
  - '**/.github/**'

documentation:
  - 'docs/**'
  - '**/*.md'
  - 'README.md'
  - 'documentation/**'

Server:
  - '**/server/**'

UI:
  - '**/client/**'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.html'

Test:
  - '**/*.test.*'
  - '**/tests/**'
  - '**/__tests__/**'
  - '**/test/**'

Removing whitespace from username
  apps/client/src/components/EditProviderDialog.tsx
  apps/client/src/components/ProviderSidebar.tsx
  apps/client/src/components/ValidationFeedback.tsx
  packages/shared/src/schemas.ts
Labels: UI

username
  apps/client/src/components/EditProviderDialog.tsx
Labels: UI

No whitespace in Password field
  apps/client/src/components/EditProviderDialog.tsx
  apps/client/src/components/ProviderSidebar.tsx
  apps/client/src/components/ValidationFeedback.tsx
  packages/shared/src/schemas.ts
Labels: UI

No whitespace in Password field
  apps/client/src/components/ProviderSidebar.tsx
Labels: UI

[Fix]: Implement password validation to prevent spaces in user passwords
  apps/client/src/components/AddUserModal.tsx
  apps/client/src/components/ResetPasswordModal.tsx
  apps/client/src/components/ValidationFeedback.tsx
  apps/client/src/pages/Profile.tsx
  apps/client/src/pages/Register.tsx
  apps/server/src/api/v1/users/controller.ts
  packages/shared/src/schemas.ts
Labels: Server, UI

Solved merge conflicts and CI conflits
  apps/server/src/api/v1/secrets/controller.ts
  apps/server/src/bl/secrets/secretsMetadata.bl.ts
Labels: Server

test: add API test for POST /providers/test-connection
  apps/server/tests/api/providers.test.ts
Labels: Server, Test

infra: created k8s manifests
  manifests/backend-deployment.yml
  manifests/backend-deployment.yml:Zone.Identifier
  manifests/backend-service.yml
  manifests/backend-service.yml:Zone.Identifier
  manifests/frontend-deployment.yml
  manifests/frontend-deployment.yml:Zone.Identifier
  manifests/frontend-service.yml
  manifests/frontend-service.yml:Zone.Identifier
Labels: none

infra: created helm chart for opsimate
  manifests/opsimate-chart/Chart.yaml
  manifests/opsimate-chart/templates/backend/Chart.yaml
  manifests/opsimate-chart/templates/backend/deployment.yaml
  manifests/opsimate-chart/templates/backend/ingress.yaml
  manifests/opsimate-chart/templates/backend/service.yaml
  manifests/opsimate-chart/templates/backend/values.yaml
  manifests/opsimate-chart/templates/frontend/deployment.yaml
  manifests/opsimate-chart/templates/frontend/hpa.yaml
  manifests/opsimate-chart/templates/frontend/ingress.yaml
  manifests/opsimate-chart/templates/frontend/service.yaml
  manifests/opsimate-chart/templates/frontend/values.yaml
Labels: none

infra: created helm chart structure
  manifests/opsimate-chart/Chart.yaml
  manifests/opsimate-chart/templates/backend/.helmignore
  manifests/opsimate-chart/templates/backend/Chart.yaml
  manifests/opsimate-chart/templates/backend/NOTES.txt
  manifests/opsimate-chart/templates/backend/_helpers.tpl
  manifests/opsimate-chart/templates/backend/deployment.yaml
  manifests/opsimate-chart/templates/backend/hpa.yaml
  manifests/opsimate-chart/templates/backend/ingress.yaml
  manifests/opsimate-chart/templates/backend/service.yaml
  manifests/opsimate-chart/templates/backend/serviceaccount.yaml
  manifests/opsimate-chart/templates/backend/tests/test-connection.yaml
  manifests/opsimate-chart/templates/backend/values.yaml
  manifests/opsimate-chart/templates/frontend/.helmignore
  manifests/opsimate-chart/templates/frontend/Chart.yaml
  manifests/opsimate-chart/templates/frontend/NOTES.txt
  manifests/opsimate-chart/templates/frontend/_helpers.tpl
  manifests/opsimate-chart/templates/frontend/deployment.yaml
  manifests/opsimate-chart/templates/frontend/hpa.yaml
  manifests/opsimate-chart/templates/frontend/ingress.yaml
  manifests/opsimate-chart/templates/frontend/service.yaml
  manifests/opsimate-chart/templates/frontend/serviceaccount.yaml
  manifests/opsimate-chart/templates/frontend/tests/test-connection.yaml
  manifests/opsimate-chart/templates/frontend/values.yaml
  manifests/opsimate-chart/values.yml
Labels: Test

infra: updated helm charts
  Dockerfile.server
  manifests/backend-deployment.yml
  manifests/opsimate-chart/Chart.lock
  manifests/opsimate-chart/Chart.yaml
  manifests/opsimate-chart/charts/backend/.helmignore
  manifests/opsimate-chart/charts/backend/Chart.yaml
  manifests/opsimate-chart/charts/backend/NOTES.txt
  manifests/opsimate-chart/charts/backend/_helpers.tpl
  manifests/opsimate-chart/charts/backend/deployment.yaml
  manifests/opsimate-chart/charts/backend/hpa.yaml
  manifests/opsimate-chart/charts/backend/ingress.yaml
  manifests/opsimate-chart/charts/backend/pv.yaml
  manifests/opsimate-chart/charts/backend/pvc.yaml
  manifests/opsimate-chart/charts/backend/service.yaml
  manifests/opsimate-chart/charts/backend/serviceaccount.yaml
  manifests/opsimate-chart/charts/backend/tests/test-connection.yaml
  manifests/opsimate-chart/charts/backend/values.yaml
  manifests/opsimate-chart/charts/frontend/.helmignore
  manifests/opsimate-chart/charts/frontend/Chart.yaml
  manifests/opsimate-chart/charts/frontend/NOTES.txt
  manifests/opsimate-chart/charts/frontend/_helpers.tpl
  manifests/opsimate-chart/charts/frontend/deployment.yaml
  manifests/opsimate-chart/charts/frontend/hpa.yaml
  manifests/opsimate-chart/charts/frontend/ingress.yaml
  manifests/opsimate-chart/charts/frontend/service.yaml
  manifests/opsimate-chart/charts/frontend/tests/test-connection.yaml
  manifests/opsimate-chart/charts/frontend/values.yaml
  manifests/opsimate-chart/charts/opsimate-chart-backend-0.1.0.tgz
  manifests/opsimate-chart/charts/opsimate-chart-frontend-0.1.0.tgz
  manifests/opsimate-chart/templates/frontend/serviceaccount.yaml
Labels: Test

[FEAT]: Add component performance tests for baseline metrics
  apps/client/src/test/performance/component-performance.test.tsx
  apps/client/vitest.config.ts
Labels: UI, Test

[FIX]: Remove password whitespace validation from controller.ts - Validation already handled on schema level
  apps/server/src/api/v1/users/controller.ts
Labels: Server

[FEAT]: Add MCP Server setup with Docker and GitHub Actions for local and CI usage
  .github/workflows/mcp-server.yml
  README.md
  mcp-server/.env.example
  mcp-server/README.md
  mcp-server/docker-compose.yml
Labels: DevOps, documentation

slack and github button
  app.jsx
Labels: none

feat: added pagination feature to Dashboard for services table
  apps/client/src/components/Dashboard/Dashboard.tsx
  apps/client/src/components/DashboardPagination.tsx
  apps/client/src/components/ItemsPerPageSelector.tsx
Labels: UI

Added Github and Slack links
  apps/client/images/git.png
  apps/client/images/slack.png
  apps/client/src/components/LeftSidebar.tsx
Labels: UI

small docs change
  README.md
Labels: documentation

Revamped for working in both dark and light mode
  apps/client/images/git.png
  apps/client/src/components/LeftSidebar.tsx
Labels: UI

Resolved issues
  apps/client/src/components/LeftSidebar.tsx
Labels: UI

[Fix]: Refactored provider tests and fixed import
  apps/server/tests/providers.test.ts
Labels: Server, Test

[Fix] Card alignment issue (#467)
  apps/client/src/pages/Integrations.tsx
Labels: UI

New role - NOC
  apps/client/src/App.tsx
  apps/client/src/components/ActionButtons.tsx
  apps/client/src/components/AddUserModal.tsx
  apps/client/src/components/LeftSidebar.tsx
  apps/client/src/components/ui/badge.tsx
  apps/client/src/index.css
  apps/client/src/lib/auth.ts
  apps/client/src/lib/permissions.ts
  apps/client/src/pages/Settings.tsx
  apps/client/src/pages/TVMode.tsx
  apps/client/src/types/index.ts
  apps/client/tailwind.config.ts
  apps/server/src/dal/userRepository.ts
  packages/shared/src/types.ts
Labels: Server, UI

test/notification-system test added
  apps/client/src/test/integration/notification-system.test.tsx
Labels: UI, Test

Coderabbit yaml file
  .coderabbit.yaml
Labels: none

[FIX] Add integration button should be in active state (#465)
  apps/client/src/pages/Integrations.tsx
Labels: UI

Update .coderabbit.yaml configuration settings
  .coderabbit.yaml
Labels: none

test(responsive): add integration tests for responsive dashboard layout
  apps/client/src/test/integration/responsive-design.test.tsx
Labels: UI, Test

test(responsive-design): enhance accessibility and interaction tests
  apps/client/src/test/integration/responsive-design.test.tsx
Labels: UI, Test

linting resolved
  apps/client/src/test/integration/notification-system.test.tsx
Labels: UI, Test

test(responsive-design): improve matchMedia mock and bounding box
  apps/client/src/test/integration/responsive-design.test.tsx
Labels: UI, Test

test(responsive-design): enhance matchMedia mock for dynamic viewport changes
  apps/client/src/test/integration/responsive-design.test.tsx
Labels: UI, Test

[Refactor] CodeRabbit refactor Code Configuredinstances
  apps/client/src/pages/Integrations.tsx
Labels: UI

Add reset password email template
  apps/server/src/utils/mailTemplate.ts
Labels: Server

Add smtp from value
  apps/server/src/service/mail.service.ts
Labels: Server

Fix imports
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/dal/passwordResetsRepository.ts
  pnpm-lock.yaml
Labels: Server

Install nodemailer
  apps/server/package.json
  pnpm-lock.yaml
Labels: Server

Update routes rules for forgot and reset password components
  apps/client/src/components/AuthGuard.tsx
Labels: UI

FIx mail transporter initialization
  apps/client/src/components/ForgotPasswordForm.tsx
  apps/client/src/pages/ForgotPassword.tsx
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/service/mail.service.ts
Labels: Server, UI

Add reset passwords table
  apps/server/src/dal/passwordResetsRepository.ts
Labels: Server
