Repository OpsiMate/OpsiMate, changes with the labels that .github/labeler.yml gives for each.
All labels: DevOps, documentation, Server, UI, Test

fix tests
  apps/server/tests/audit.test.ts
  apps/server/tsconfig.json
Labels: Server, Test

fix coverage and url
  .github/workflows/coverage.yaml
  apps/server/src/config/config.ts
Labels: DevOps, Server

minor fixes
  .github/workflows/coverage.yaml
  apps/server/src/dal/kubeConnector.ts
Labels: DevOps, Server

remove deploy.yml
  .github/workflows/deploy.yaml
Labels: DevOps

change image location (#490)
  apps/client/images/logo.png
  apps/client/public/images/git.png
  apps/client/public/images/slack.png
Labels: UI

Updated the document (#491)
  apps/client/README.md
Labels: documentation, UI

Remove Client side search and implement server-side search
  apps/client/src/lib/api.ts
  apps/client/src/pages/Settings.tsx
Labels: UI

[FEAT] stabilize tests ensuring all tests are keeping highest standard (#496)
  .github/workflows/PR fields validation.yml
  apps/server/tests/api/providers.test.ts
  apps/server/tests/isZodError.test.ts
  apps/server/tests/providers.test.ts
  apps/server/tests/setup.ts
  apps/server/tests/test-custom-fields-basic.ts
  apps/server/tests/test-custom-fields.ts
  apps/server/tests/test-integration.ts
  apps/server/tests/test-private-key.ts
  apps/server/tests/test-tags.ts
  apps/server/tests/users.test.ts
Labels: DevOps, Server, Test

Implement server-side search for audit auditlogs - Add filtering in auditLogRepository - Update Controller to accept and accept and search parameters
  apps/server/src/api/v1/audit/controller.ts
  apps/server/src/bl/audit/audit.bl.ts
  apps/server/src/dal/auditLogRepository.ts
Labels: Server

Change logo image source in README
  README.md
Labels: documentation

[FEAT]: Add search functionality in TV mode (#486)
  apps/client/src/pages/TVMode.tsx
Labels: UI

[FIX]: Update sync-version.yml for PAT and author format (#492)
  .github/workflows/sync-version.yml
Labels: DevOps

[FEAT]: implement audit log search functionality Add time-range filtering with startTime and endTime paramters Add pagination validation Update API response format
  apps/client/src/lib/api.ts
  apps/client/src/pages/Settings.tsx
  apps/server/src/api/v1/audit/controller.ts
  apps/server/src/bl/audit/audit.bl.ts
  apps/server/src/dal/auditLogRepository.ts
Labels: Server, UI

minor fix
  apps/client/src/pages/Settings.tsx
Labels: UI

minor fix
  apps/client/src/pages/Settings.tsx
Labels: UI

[FIX]: Fix major issues
  apps/server/src/api/v1/audit/controller.ts
  apps/server/src/dal/auditLogRepository.ts
Labels: Server

Fixed warnings in settings
  apps/client/src/pages/Settings.tsx
Labels: UI

Fixed warning in server-side
  apps/server/src/api/v1/audit/controller.ts
Labels: Server

docs: Add comprehensive TV Mode documentation
  TVMODE_TEST_SUMMARY.md
  docs/README.md
Labels: documentation

Remove testTimeout setting from vitest config
  apps/client/vitest.config.ts
Labels: UI

Fixed timestamp in database-level
  apps/server/src/dal/auditLogRepository.ts
Labels: Server

Refactored controller.ts
  apps/server/src/api/v1/audit/controller.ts
Labels: Server

Fixed timezone issue
  apps/server/src/api/v1/audit/controller.ts
Labels: Server

Create Navbar.tsx with dark blue theme, responsive mobile menu, and Logout button
  apps/client/src/App.tsx
  apps/client/src/components/ui/Navbar.tsx
  apps/client/src/pages/Profile.tsx
Labels: UI

Added tooltip hover
  apps/client/src/components/LeftSidebar.tsx
Labels: UI

delete extra command
  apps/server/package.json
Labels: Server

remove prod mod
  apps/server/vite.config.ts
Labels: Server

remove badge
  README.md
Labels: documentation

remove coverage from ci
  .github/workflows/coverage.yaml
Labels: DevOps

remove coverage from ci
  .github/workflows/ci.yaml
Labels: DevOps

remove file
  apps/client/src/components/CustomActionModal.tsx
Labels: UI

reformat
  apps/server/vite.config.ts
Labels: Server

remove
  apps/server/vite.config.ts
Labels: Server

remove cors
  apps/server/vite.config.ts
Labels: Server

fix lint rules, complicated ones are being treated as warn until fixed
  apps/client/eslint.config.js
  apps/client/src/components/AddServiceDialog.tsx
  apps/client/src/components/AlertsSection.tsx
  apps/client/src/components/Dashboard/Dashboard.tsx
  apps/client/src/components/EditProviderDialog.tsx
  apps/client/src/components/EditSecretDialog.tsx
  apps/client/src/components/EditUserModal.tsx
  apps/client/src/components/ProviderSidebar.tsx
  apps/client/src/components/ResetPasswordModal.tsx
  apps/client/src/components/RightSidebarWithLogs.tsx
  apps/client/src/components/ServiceDetailsSheetWithLogs.tsx
  apps/client/src/components/ServicesList.tsx
  apps/client/src/components/TagSelector.tsx
  apps/client/src/hooks/queries/integrations/useIntegrationUrls.ts
  apps/client/src/hooks/queries/views/useActiveView.ts
  apps/client/src/lib/api.ts
  apps/client/src/lib/auth.ts
  apps/client/src/lib/savedViews.ts
  apps/client/src/pages/Alerts.tsx
  apps/client/src/pages/Integrations.tsx
  apps/client/src/pages/MyProviders.tsx
  apps/client/src/pages/Profile.tsx
  apps/client/src/pages/Register.tsx
  apps/client/src/pages/Settings.tsx
  apps/client/src/pages/TVMode.tsx
Labels: UI

add max warnings as what is being already found, further code should not introduce new warnings or errors
  .github/workflows/ci.yaml
  apps/client/package.json
Labels: DevOps, UI

fix docker file
  Dockerfile.server
Labels: none

fix docker file
  Dockerfile
Labels: none

solved conflict issue
  .github/workflows/ci.yaml
Labels: DevOps

added formatting check to workflow
  .github/workflows/ci.yaml
Labels: DevOps

.github/labeler.yml:

DevOps:
  - 'devops*'
  - 'infrastructure/**'
  - 'ci/**'
  - 'docker/**'
  - '**/.github/**'

documentation:
  - 'docs/**'
  - '**/*.md'
  - 'README.md'
  - 'documentation/**'

Server:
  - '**/server/**'

UI:
  - '**/client/**'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.html'

Test:
  - '**/*.test.*'
  - '**/tests/**'
  - '**/__tests__/**'
  - '**/test/**'
