Repository OpsiMate/OpsiMate, changes with the labels that .github/labeler.yml gives for each.
All labels: DevOps, documentation, Server, UI, Test

.github/labeler.yml:

DevOps:
  - 'devops*'
  - 'infrastructure/**'
  - 'ci/**'
  - 'docker/**'
  - '**/.github/**'

documentation:
  - 'docs/**'
  - '**/*.md'
  - 'README.md'
  - 'documentation/**'

Server:
  - '**/server/**'

UI:
  - '**/client/**'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.html'

Test:
  - '**/*.test.*'
  - '**/tests/**'
  - '**/__tests__/**'
  - '**/test/**'

fix hostname regex issue
  apps/client/src/components/ProviderSidebar.tsx
  apps/client/src/components/ValidationFeedback.tsx
  packages/shared/src/schemas.ts
Labels: UI

fix: eslint error
  apps/server/src/bl/custom-views/custom-view.bl.ts
Labels: Server

bugfix/289-allow-editing-providers-with-SSH-key-authentication-without-password
  apps/client/src/components/EditProviderDialog.tsx
Labels: UI

Documentation fixes for all the new docker updates and contribition hub
  CONTRIBUTING.md
  PROJECT_DOCUMENTATION.md
  README.md
Labels: documentation

Fix: Persist selected view across page refreshes using URL parameters
  apps/client/src/pages/Dashboard.tsx
Labels: UI

Pagination for audit logs at Settings currently upto 5,10,15,20 only.
  apps/client/src/pages/Settings.tsx
Labels: UI

feat: implement custom field audit logging and enhance provider workflow
  apps/server/src/api/v1/custom-fields/controller.ts
  apps/server/src/api/v1/secrets/router.ts
  apps/server/src/app.ts
  apps/server/src/bl/custom-fields/serviceCustomField.bl.ts
  apps/server/src/dal/db.ts
  apps/server/src/dal/kubeConnector.ts
  apps/server/src/dal/sshClient.ts
Labels: Server

feat: added chnages in type.ts
  packages/shared/src/types.ts
Labels: none

fix: removed unnecessary modal
  apps/client/src/components/AddSecretModal.tsx
  apps/client/src/components/ProviderSidebar.tsx
Labels: UI

Add filteredLogs and date range filtering to audit log table
  apps/client/src/pages/Settings.tsx
Labels: UI

update: made more changes
  apps/client/src/pages/Settings.tsx
Labels: UI

Revert commit fdbcfbf22d37010c8da2480f87b251b7db0a43c1
  <path to the affected file>
Labels: none

implemented it as we handle creating new service and option to choose either a password or an SSH key
  apps/client/src/components/EditProviderDialog.tsx
Labels: UI

feat: Implement interactive and fully searchable service logs
  apps/client/src/components/InteractiveServiceLogs.tsx
  apps/client/src/components/RightSidebarWithLogs.tsx
  apps/client/src/components/ServiceDetailsSheetWithLogs.tsx
  apps/client/src/hooks/queries/queryKeys.ts
  apps/client/src/hooks/queries/services/useServiceLogs.ts
  apps/client/src/lib/api.ts
  apps/server/src/api/v1/services/controller.ts
  apps/server/src/bl/providers/provider-connector/k8sProviderConnector.ts
  apps/server/src/bl/providers/provider-connector/providerConnector.ts
  apps/server/src/bl/providers/provider-connector/vmProviderConnector.ts
  apps/server/src/dal/kubeConnector.ts
  apps/server/src/dal/sshClient.ts
  apps/server/src/utils/logParser.ts
  packages/shared/src/index.ts
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
Labels: Server, UI

feat: add audit log for service deletion
  apps/server/src/api/v1/services/controller.ts
  apps/server/src/bl/services/services.bl.ts
Labels: Server

Fix: solved issue 216
  apps/client/src/pages/Alerts.tsx
  apps/client/src/pages/Dashboard.tsx
  apps/client/src/pages/TVMode.tsx
  apps/server/src/api/v1/services/controller.ts
  apps/server/src/api/v1/tags/controller.ts
  apps/server/src/app.ts
  apps/server/src/bl/alerts/alert.bl.ts
  apps/server/src/dal/alertRepository.ts
  apps/server/src/dal/models.ts
  apps/server/src/dal/tagRepository.ts
  apps/server/src/jobs/pull-grafana-alerts-job.ts
Labels: Server, UI

Lint fix
  apps/server/src/dal/tagRepository.ts
  apps/server/src/jobs/pull-grafana-alerts-job.ts
Labels: Server

Cleanup some comments
  apps/client/src/pages/Alerts.tsx
  apps/client/src/pages/Dashboard.tsx
  apps/client/src/pages/TVMode.tsx
  apps/server/src/api/v1/tags/controller.ts
  apps/server/src/dal/alertRepository.ts
  apps/server/src/jobs/pull-grafana-alerts-job.ts
Labels: Server, UI

Fixes according to the feedback
  apps/client/src/pages/Alerts.tsx
  apps/client/src/pages/Dashboard.tsx
  apps/client/src/pages/TVMode.tsx
  apps/client/src/utils/alert.utils.ts
Labels: UI

[FIX]: Update checkbox behavior and styling in FilterPanel and ServiceTable components
  apps/client/src/components/FilterPanel.tsx
  apps/client/src/components/ServiceTable.tsx
  apps/client/src/components/ui/checkbox.tsx
Labels: UI

fix: switch from ESM to CommonJS for standalone Docker compatibility
  apps/server/package.json
  apps/server/src/api/v1/secrets/router.ts
  apps/server/src/bl/providers/provider-connector/k8sProviderConnector.ts
  apps/server/src/dal/db.ts
  apps/server/src/dal/kubeConnector.ts
  apps/server/src/dal/sshClient.ts
  apps/server/tsconfig.json
  pnpm-lock.yaml
Labels: Server

[FEAT]: Enhance service query behavior with refetch options and improve MyProviders component for better data consistency
  apps/client/src/hooks/queries/services/useServices.ts
  apps/client/src/pages/MyProviders.tsx
Labels: UI

Fix Cancel button border in dark mode
  apps/client/src/components/ProviderSidebar.tsx
Labels: UI

fix: reverted unnecessary chnages and used AddSecretButton modal
  apps/client/src/components/ProviderSidebar.tsx
  apps/client/src/pages/Settings.tsx
Labels: UI

added return to the res.status
  apps/server/src/api/v1/users/controller.ts
Labels: Server

fix: registerHandler now send the correct err msg
  apps/server/src/api/v1/users/controller.ts
Labels: Server

updated the controller files to use isZodError func
  apps/server/src/api/v1/custom-fields/controller.ts
  apps/server/src/api/v1/integrations/controller.ts
  apps/server/src/api/v1/providers/controller.ts
  apps/server/src/api/v1/secrets/controller.ts
  apps/server/src/api/v1/services/controller.ts
  apps/server/src/api/v1/tags/controller.ts
  apps/server/src/api/v1/users/controller.ts
Labels: Server

added the isZodError func test file
  apps/server/tests/isZodError.test.ts
Labels: Server, Test

adding isZodError func in utils
  apps/server/src/utils/isZodError.ts
Labels: Server

test file changed to zod parse fail
  apps/server/tests/isZodError.test.ts
Labels: Server, Test

added return to res.status and res.json
  apps/server/src/api/v1/alerts/controller.ts
  apps/server/src/api/v1/audit/controller.ts
  apps/server/src/api/v1/custom-fields/controller.ts
  apps/server/src/api/v1/integrations/controller.ts
  apps/server/src/api/v1/providers/controller.ts
  apps/server/src/api/v1/secrets/controller.ts
  apps/server/src/api/v1/services/controller.ts
  apps/server/src/api/v1/tags/controller.ts
  apps/server/src/api/v1/users/controller.ts
  apps/server/src/api/v1/views/controller.ts
Labels: Server

Added search bar secrets
  apps/client/src/pages/Settings.tsx
Labels: UI

feat(audit-logs): extend feature to other resources
  apps/client/src/components/settings/auditLog/AuditLogTable.tsx
  apps/client/src/components/settings/auditLog/AuditLogTable.utils.tsx
  apps/client/src/pages/Settings.tsx
  apps/server/src/api/v1/users/controller.ts
  apps/server/src/app.ts
  apps/server/src/bl/audit/audit.bl.ts
  apps/server/src/bl/providers/provider.bl.ts
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/dal/auditLogRepository.ts
  apps/server/src/dal/userRepository.ts
Labels: Server, UI

fix: ssh key refresh visiblity
  apps/client/src/components/ProviderSidebar.tsx
Labels: UI

Add /version endpoint for OpsiMate
  apps/server/src/api/v1/v1.ts
  apps/server/src/api/v1/version/controller.ts
  apps/server/src/api/v1/version/router.ts
Labels: Server

Display OpsiMate version in sidebar footer
  apps/client/src/components/LeftSidebar.tsx
  apps/client/src/hooks/queries/index.ts
  apps/client/src/hooks/queries/queryKeys.ts
  apps/client/src/hooks/queries/version/index.ts
  apps/client/src/hooks/queries/version/useVersion.ts
  apps/client/src/lib/api.ts
Labels: UI

Add /version endpoint for OpsiMate
  apps/client/src/hooks/queries/version/index.ts
  apps/client/src/hooks/queries/version/useVersion.ts
  apps/server/src/api/v1/v1.ts
  apps/server/src/api/v1/version/controller.ts
  apps/server/src/api/v1/version/router.ts
Labels: Server, UI

Display OpsiMate version in sidebar footer
  apps/client/src/components/LeftSidebar.tsx
  apps/client/src/hooks/queries/index.ts
  apps/client/src/hooks/queries/queryKeys.ts
  apps/client/src/lib/api.ts
Labels: UI

Apply suggestion from @Sahar541998
  apps/server/src/api/v1/services/controller.ts
Labels: Server

Apply suggestion from @Sahar541998
  apps/server/src/bl/services/services.bl.ts
Labels: Server
