Repository OpsiMate/OpsiMate, changes with the labels that .github/labeler.yml gives for each.
All labels: DevOps, documentation, Server, UI, Test

fix: type safety issues in user management endpoints
  apps/server/src/api/v1/users/controller.ts
  apps/server/src/dal/userRepository.ts
Labels: Server

Fix input typing issue in EditUserModal caused by useEffect re-renders
  apps/client/src/components/EditUserModal.tsx
Labels: UI

Fix: solved issue #275
  apps/client/src/pages/Login.tsx
  apps/client/src/pages/Register.tsx
Labels: UI

Create [Hardest confusing not logic but the constraints of problem] - coin change.java
  [Hardest confusing not logic but the constraints of problem] - coin change.java
Labels: none

feat: Add update secrets API and UI functionality
  apps/client/src/components/EditSecretDialog.tsx
  apps/client/src/lib/api.ts
  apps/client/src/lib/sslKeys.ts
  apps/client/src/pages/Settings.tsx
  apps/server/src/api/v1/secrets/controller.ts
  apps/server/src/api/v1/secrets/router.ts
  apps/server/src/bl/secrets/secretsMetadata.bl.ts
  apps/server/src/dal/secretsMetadataRepository.ts
  packages/shared/src/schemas.ts
Labels: Server, UI

Fix linter error: replace any[] with proper type
  apps/server/src/dal/secretsMetadataRepository.ts
Labels: Server

Delete [Hardest confusing not logic but the constraints of problem] - coin change.java
  [Hardest confusing not logic but the constraints of problem] - coin change.java
Labels: none

Initial commit for Dockerfile seperation
  Dockerfile.client
  Dockerfile.server
  docker-compose.dev.yml
Labels: none

Fix: providers names check before creation - no duplications allowed
  apps/client/src/components/ProviderSidebar.tsx
  apps/server/src/api/v1/providers/controller.ts
  apps/server/src/bl/providers/provider.bl.ts
  apps/server/src/dal/providerRepository.ts
  packages/shared/src/schemas.ts
Labels: Server, UI

fix: Dashboard: collapse arrows overlap filter panel
  apps/client/src/components/DashboardLayout.tsx
  apps/client/src/pages/Dashboard.tsx
Labels: UI

refactor refresh to use it in BL layer instead of in job
  .cursor/mcp.json
  apps/server/src/api/v1/providers/router.ts
  apps/server/src/app.ts
  apps/server/src/bl/providers/provider.bl.ts
  apps/server/src/dal/kubeConnector.ts
  apps/server/src/jobs/refresh-job.ts
Labels: Server

remove unnecessary route
  apps/server/src/api/v1/providers/controller.ts
  apps/server/src/api/v1/providers/router.ts
Labels: Server

feat: Add audit logging for integration operations
  apps/server/src/api/v1/integrations/controller.ts
  apps/server/src/api/v1/secrets/router.ts
  apps/server/src/app.ts
  apps/server/src/bl/integrations/integration.bl.ts
  apps/server/src/dal/db.ts
  apps/server/src/dal/kubeConnector.ts
  apps/server/src/dal/sshClient.ts
  apps/server/tests/audit.test.ts
  apps/server/tests/integration-audit.test.ts
  packages/shared/src/types.ts
Labels: Server, Test

Updated PR Description with Screenshots
  add-integration-dialog.png
  audit-log-complete-lifecycle.png
  audit-log-integration-create.png
  audit-log-integration-update.png
  configure-integration-dialog.png
  delete-integration-confirmation.png
  integration-configured.png
  integration-created-success.png
  integration-deleted-success.png
  integrations-page.png
Labels: none

collapse arrows overlap filter panel fix
  apps/client/src/components/DashboardLayout.tsx
  apps/client/src/pages/Dashboard.tsx
Labels: UI

feat(audit-logs): extension to other resources
  apps/client/src/components/settings/auditLog/table.tsx
  apps/client/src/pages/Settings.tsx
  apps/server/package.json
  apps/server/src/api/v1/users/controller.ts
  apps/server/src/app.ts
  apps/server/src/bl/audit/audit.bl.ts
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/dal/auditLogRepository.ts
  apps/server/src/dal/userRepository.ts
  apps/server/src/jobs/asyncQueue.ts
  pnpm-lock.yaml
Labels: Server, UI

remove unnecessary await for non-async functions
  apps/server/src/bl/providers/provider.bl.ts
  apps/server/src/bl/users/user.bl.ts
Labels: Server

implemented semi transparent scroll to top button
  apps/client/src/App.tsx
  apps/client/src/components/ScrollToTopButton.tsx
Labels: UI

feat: Enhance output messages
  apps/client/src/components/ProviderSidebar.tsx
  apps/server/src/api/v1/providers/controller.ts
  apps/server/src/bl/providers/provider-connector/k8sProviderConnector.ts
  apps/server/src/bl/providers/provider-connector/providerConnector.ts
  apps/server/src/bl/providers/provider-connector/vmProviderConnector.ts
  apps/server/src/dal/sshClient.ts
Labels: Server, UI

New Greeting workflow
  .github/workflows/greeting.yml
Labels: DevOps

bugfix/248-removal-on-my-provider-does-not-require-manual-refresh
  apps/client/src/pages/MyProviders.tsx
Labels: UI

fixed-testing-new-permissions-to-pr&issue
  .github/workflows/greeting.yml
Labels: DevOps

fix regex and ip check
  apps/client/src/components/ProviderSidebar.tsx
  apps/client/src/components/ValidationFeedback.tsx
  packages/shared/src/schemas.ts
Labels: UI

[Feature] created Add Key Modal Instead of Redirecting to Secrets Page #250
  apps/client/src/components/AddSecretModal.tsx
  apps/client/src/components/ProviderSidebar.tsx
Labels: UI

fixed #279
  apps/client/src/components/ActionButtons.tsx
  apps/client/src/pages/Dashboard.tsx
  apps/client/src/pages/MyProviders.tsx
Labels: UI

Storing the new docker-image for frontend and backend, Also kept original image-monolith image just for backup and future validation
  .github/workflows/release.yml
Labels: DevOps

removed comments from code
  apps/client/src/App.tsx
  apps/client/src/components/ScrollToTopButton.tsx
Labels: UI

ix: resolve TV mode viewport overflow and performance issues
  apps/client/src/pages/TVMode.tsx
Labels: UI

Created theme bar on left panel
  apps/client/src/components/LeftSidebar.tsx
Labels: UI

implemented semi transparent scroll to top button
  apps/client/src/App.tsx
  apps/client/src/components/ScrollToTopButton.tsx
Labels: UI

Script changes to run them all in one go with just one command
  docker-compose.yml
  scripts/start-docker.sh
Labels: none

feat/300-search-feature-implimented-to-custom-fields
  apps/client/src/components/CustomFieldsTable.tsx
Labels: UI

fix: improve header responsiveness and prevent layout shifts
  apps/client/src/pages/TVMode.tsx
Labels: UI

created floating theme button
  apps/client/src/App.tsx
  apps/client/src/components/FloatingThemeToggle.tsx
Labels: UI

update audit-log-table component
  apps/client/src/components/settings/auditLog/AuditLogTable.tsx
  apps/client/src/pages/Settings.tsx
Labels: UI

refactor helper functions into a separate file
  apps/client/src/components/settings/auditLog/AuditLogTable.tsx
  apps/client/src/components/settings/auditLog/AuditLogTable.utils.tsx
Labels: UI

Refactor statistics display for alignment improvements
  apps/client/src/pages/TVMode.tsx
Labels: UI

feat: Add audit log for service creation
  apps/server/src/api/v1/services/controller.ts
  apps/server/src/app.ts
  apps/server/src/bl/services/services.bl.ts
Labels: Server

refactor: Address review feedback
  apps/server/src/api/v1/services/controller.ts
  apps/server/src/app.ts
  apps/server/src/bl/services/services.bl.ts
Labels: Server

Add audit logging for dashboard view creation
  apps/server/src/api/v1/views/controller.ts
  apps/server/src/bl/custom-views/custom-view.bl.ts
  packages/shared/src/types.ts
Labels: Server

.github/labeler.yml:

DevOps:
  - 'devops*'
  - 'infrastructure/**'
  - 'ci/**'
  - 'docker/**'
  - '**/.github/**'

documentation:
  - 'docs/**'
  - '**/*.md'
  - 'README.md'
  - 'documentation/**'

Server:
  - '**/server/**'

UI:
  - '**/client/**'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.html'

Test:
  - '**/*.test.*'
  - '**/tests/**'
  - '**/__tests__/**'
  - '**/test/**'
