Repository OpsiMate/OpsiMate, changes with the labels that .github/labeler.yml gives for each.
All labels: DevOps, documentation, Server, UI, Test

fix: Unify Prettier configs
  apps/client/.prettierrc
  apps/client/prettier.config.mjs
  apps/server/.prettierrc
  apps/server/prettier.config.mjs
  packages/shared/.prettierrc
  packages/shared/prettier.config.mjs
  prettier.config.base.mjs
Labels: Server, UI

fix: Unify ESLint configs
  apps/client/eslint.config.js
  apps/server/eslint.config.mjs
  eslint.config.base.mjs
  packages/shared/eslint.config.mjs
Labels: Server, UI

Format prettier.config.base.mjs
  prettier.config.base.mjs
Labels: none

Format apps/server/eslint.config.mjs
  apps/server/eslint.config.mjs
Labels: Server

Update packages/shared/eslint.config.mjs
  packages/shared/eslint.config.mjs
Labels: none

[FEAT]: Add API key authentication for users
  apps/client/src/App.tsx
  apps/client/src/components/ApiKeyCard.tsx
  apps/client/src/components/CreateApiKeyModal.tsx
  apps/client/src/components/LeftSidebar.tsx
  apps/client/src/components/ui/dialog.tsx
  apps/client/src/hooks/queries/apiKeys/useApiKeys.ts
  apps/client/src/lib/api.ts
  apps/client/src/pages/ApiKeys.tsx
  apps/client/src/pages/index.ts
  apps/server/src/api/v1/apiKeys/controller.ts
  apps/server/src/api/v1/apiKeys/router.ts
  apps/server/src/api/v1/v1.ts
  apps/server/src/app.ts
  apps/server/src/bl/apiKeys/apiKey.bl.ts
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/dal/apiKeyRepository.ts
  apps/server/src/dal/models.ts
  apps/server/src/middleware/auth.ts
  apps/server/tests/apiKeys-bl.test.ts
  apps/server/tests/apiKeys.test.ts
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
Labels: Server, UI, Test

start with basics and providers.test.ts
  apps/server/package.json
  apps/server/tests/audit.test.ts
  apps/server/tests/providers.test.ts
  apps/server/tsconfig.json
  pnpm-lock.yaml
Labels: Server, Test

added role on updating the auditLog table
  apps/server/src/dal/auditLogRepository.ts
Labels: Server

better tests
  apps/server/tests/audit.test.ts
  apps/server/tests/providers.test.ts
  apps/server/tests/setup.ts
Labels: Server, Test

cleanup
  apps/server/package.json
  apps/server/tsconfig.json
  pnpm-lock.yaml
Labels: Server

fix tsconfig format
  apps/server/tsconfig.json
Labels: Server

align test table with real table
  apps/server/tests/setup.ts
Labels: Server, Test

better setup
  apps/server/tests/providers.test.ts
  apps/server/tests/setup.ts
Labels: Server, Test

rabbit suggestion - setup user error handling
  apps/server/tests/setup.ts
Labels: Server, Test

added created_by for showing the admin who created the user
  apps/server/src/api/v1/users/controller.ts
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/dal/auditLogRepository.ts
  packages/shared/src/types.ts
Labels: Server

added role key in Auditlog and added logAction on register and createUser in userBl
  apps/server/src/bl/users/user.bl.ts
  packages/shared/src/types.ts
Labels: Server

added role on table creation
  apps/server/src/dal/auditLogRepository.ts
Labels: Server

added role on updating the auditLog table
  apps/server/src/api/v1/users/controller.ts
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/dal/auditLogRepository.ts
Labels: Server

added created_by for showing the admin who created the user
  apps/server/src/api/v1/users/controller.ts
  apps/server/src/bl/users/user.bl.ts
  packages/shared/src/types.ts
Labels: Server

fix: eslint config updates
  apps/client/eslint.config.js
  apps/server/eslint.config.mjs
  packages/shared/eslint.config.mjs
Labels: Server, UI

fix sidebar
  apps/client/src/components/LeftSidebar.tsx
  apps/client/src/pages/ApiKeys.tsx
Labels: UI

Fix incorrect Tooltip import to use local UI wrapper.
  apps/client/src/components/LeftSidebar.tsx
Labels: UI

infra: created helm charts
  manifests/opsimate-chart/Chart.lock
  manifests/opsimate-chart/Chart.yaml
  manifests/opsimate-chart/charts/backend/.helmignore
  manifests/opsimate-chart/charts/backend/Chart.yaml
  manifests/opsimate-chart/charts/backend/NOTES.txt
  manifests/opsimate-chart/charts/backend/_helpers.tpl
  manifests/opsimate-chart/charts/backend/deployment.yaml
  manifests/opsimate-chart/charts/backend/hpa.yaml
  manifests/opsimate-chart/charts/backend/ingress.yaml
  manifests/opsimate-chart/charts/backend/pv.yaml
  manifests/opsimate-chart/charts/backend/pvc.yaml
  manifests/opsimate-chart/charts/backend/service.yaml
  manifests/opsimate-chart/charts/backend/serviceaccount.yaml
  manifests/opsimate-chart/charts/backend/tests/test-connection.yaml
  manifests/opsimate-chart/charts/backend/values.yaml
  manifests/opsimate-chart/charts/frontend/.helmignore
  manifests/opsimate-chart/charts/frontend/Chart.yaml
  manifests/opsimate-chart/charts/frontend/NOTES.txt
  manifests/opsimate-chart/charts/frontend/_helpers.tpl
  manifests/opsimate-chart/charts/frontend/deployment.yaml
  manifests/opsimate-chart/charts/frontend/hpa.yaml
  manifests/opsimate-chart/charts/frontend/ingress.yaml
  manifests/opsimate-chart/charts/frontend/service.yaml
  manifests/opsimate-chart/charts/frontend/tests/test-connection.yaml
  manifests/opsimate-chart/charts/frontend/values.yaml
  manifests/opsimate-chart/charts/opsimate-chart-backend-0.1.0.tgz
  manifests/opsimate-chart/charts/opsimate-chart-frontend-0.1.0.tgz
  manifests/opsimate-chart/values.yml
Labels: Test

Shifted hover position
  apps/client/src/components/LeftSidebar.tsx
Labels: UI

yuval and tamir's comments adderessed
  apps/client/src/pages/Login.tsx
  apps/server/src/api/health.ts
  apps/server/src/api/v1/users/router.ts
Labels: Server, UI

prettier fix 3
  apps/server/src/api/health.ts
Labels: Server

terraform
  terraform/main.tf
  terraform/modules/data.tf
  terraform/modules/locals.tf
  terraform/modules/providers.tf
  terraform/modules/resources.tf
  terraform/modules/userdata.sh
  terraform/modules/variables.tf
Labels: none

terraform
  terraform/modules/userdata.sh
Labels: none

terraform
  terraform/modules/resources.tf
Labels: none

terraform
  terraform/modules/resources.tf
Labels: none

terraform
  terraform/modules/resources.tf
Labels: none

fix bulk issue and test
  apps/server/src/api/v1/providers/controller.ts
  apps/server/tests/providers.test.ts
Labels: Server, Test

handle alert tests
  apps/server/tests/alerts.test.ts
Labels: Server, Test

fix format
  apps/server/tests/alerts.test.ts
Labels: Server, Test

upd tusk with merge main into my branch
  apps/client/src/components/AddServiceDialog.tsx
  apps/server/src/api/v1/services/controller.ts
  packages/shared/src/schemas.ts
Labels: Server, UI

[CHORE] Refactor Profile page
  apps/client/src/pages/Profile.tsx
  apps/client/src/pages/Profile/Profile.tsx
  apps/client/src/pages/Profile/Profile.types.ts
  apps/client/src/pages/Profile/components/AccountSection/AccountSection.tsx
  apps/client/src/pages/Profile/components/AccountSection/index.ts
  apps/client/src/pages/Profile/components/EditProfileForm/EditProfileForm.tsx
  apps/client/src/pages/Profile/components/EditProfileForm/index.ts
  apps/client/src/pages/Profile/components/ProfileHeader/ProfileHeader.tsx
  apps/client/src/pages/Profile/components/ProfileHeader/index.ts
  apps/client/src/pages/Profile/components/ProfileInformation/ProfileInformation.tsx
  apps/client/src/pages/Profile/components/ProfileInformation/index.ts
  apps/client/src/pages/Profile/components/ThemePreferences/ThemePreferences.tsx
  apps/client/src/pages/Profile/components/ThemePreferences/index.ts
  apps/client/src/pages/Profile/components/index.ts
  apps/client/src/pages/Profile/hooks/index.ts
  apps/client/src/pages/Profile/hooks/useProfileData.ts
  apps/client/src/pages/Profile/hooks/useProfileEdit.ts
  apps/client/src/pages/Profile/index.ts
  apps/client/src/pages/Profile/utils/profile.utils.ts
Labels: UI

add: htmlFor/id accessibility
  apps/client/src/pages/Profile/components/EditProfileForm/EditProfileForm.tsx
Labels: UI

refactor story telling 1
  apps/client/src/pages/Login.tsx
  apps/server/src/api/health.ts
  apps/server/src/api/v1/users/controller.ts
  scripts/start-docker.sh
Labels: Server, UI

format server-side
  apps/server/src/api/v1/audit/controller.ts
  apps/server/src/bl/audit/audit.bl.ts
  apps/server/src/dal/auditLogRepository.ts
  apps/server/tests/audit.test.ts
Labels: Server, Test

.github/labeler.yml:

DevOps:
  - 'devops*'
  - 'infrastructure/**'
  - 'ci/**'
  - 'docker/**'
  - '**/.github/**'

documentation:
  - 'docs/**'
  - '**/*.md'
  - 'README.md'
  - 'documentation/**'

Server:
  - '**/server/**'

UI:
  - '**/client/**'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.html'

Test:
  - '**/*.test.*'
  - '**/tests/**'
  - '**/__tests__/**'
  - '**/test/**'
