Repository OpsiMate/OpsiMate, changes with the labels that .github/labeler.yml gives for each.
All labels: DevOps, documentation, Server, UI, Test

.github/labeler.yml:

DevOps:
  - 'devops*'
  - 'infrastructure/**'
  - 'ci/**'
  - 'docker/**'
  - '**/.github/**'

documentation:
  - 'docs/**'
  - '**/*.md'
  - 'README.md'
  - 'documentation/**'

Server:
  - '**/server/**'

UI:
  - '**/client/**'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.html'

Test:
  - '**/*.test.*'
  - '**/tests/**'
  - '**/__tests__/**'
  - '**/test/**'

revert unnecessary change
  .github/workflows/ci.yaml
  apps/client/.prettierrc
Labels: DevOps, UI

start implementing formatting on backend side and align client and backend
  apps/client/package.json
  apps/server/.prettierignore
  apps/server/.prettierrc
  apps/server/package.json
  package.json
  turbo.json
Labels: Server, UI

adjust ci to support format in server as well
  .github/workflows/ci.yaml
Labels: DevOps

fixed formatting error
  apps/client/src/pages/Settings.tsx
Labels: UI

Fixed formatting warnings
  apps/client/src/lib/api.ts
  apps/client/src/pages/Settings.tsx
Labels: UI

fixed test
  apps/server/tests/audit.test.ts
Labels: Server, Test

fix docker issues with vite
  Dockerfile
  Dockerfile.server
  apps/server/package.json
  apps/server/vite.config.prod.ts
  turbo.json
Labels: Server

refactor Dashboard page
  apps/client/src/components/Dashboard/Dashboard.test.tsx
  apps/client/src/components/Dashboard/Dashboard.tsx
  apps/client/src/components/Dashboard/Dashboard.types.ts
  apps/client/src/components/Dashboard/DashboardHeader.tsx
  apps/client/src/components/Dashboard/DashboardHeader/DashboardHeader.tsx
  apps/client/src/components/Dashboard/DashboardHeader/index.ts
  apps/client/src/components/Dashboard/FilterPanel/FilterSidebar.tsx
  apps/client/src/components/Dashboard/FilterPanel/index.ts
  apps/client/src/components/Dashboard/ServiceActionBar/ServiceActionBar.tsx
  apps/client/src/components/Dashboard/ServiceActionBar/index.ts
  apps/client/src/components/Dashboard/hooks/index.ts
  apps/client/src/components/Dashboard/hooks/useColumnManagement.ts
  apps/client/src/components/Dashboard/hooks/useFilteredServices.ts
  apps/client/src/components/Dashboard/hooks/useServiceActions.ts
  apps/client/src/components/Dashboard/hooks/useServiceFilters.test.tsx
  apps/client/src/components/Dashboard/hooks/useServiceFilters.ts
  apps/client/src/components/Dashboard/hooks/useServicesWithAlerts.ts
  apps/client/src/components/Dashboard/hooks/useViewManagement.ts
  apps/client/src/components/Dashboard/index.ts
  apps/client/src/components/Dashboard/types.ts
  apps/client/src/components/LeftSidebar.tsx
Labels: UI, Test

fix lint issues
  apps/server/vite.config.ts
Labels: Server

fix lint issues
  apps/server/vite.config.prod.ts
  apps/server/vite.config.ts
Labels: Server

add chore as a valid prefix to PR title
  .github/workflows/PR fields validation.yml
Labels: DevOps

fix rabbit code major and cirtical issues
  .github/workflows/ci.yaml
  apps/client/package.json
  apps/client/src/components/Dashboard/hooks/useServicesWithAlerts.ts
  apps/client/src/components/Dashboard/hooks/useViewManagement.ts
Labels: DevOps, UI

Added: Login Page Test file
  apps/client/package.json
  apps/client/src/pages/Login.test.tsx
  pnpm-lock.yaml
Labels: UI, Test

Fixed: Errors in the test cases for several test cases
  apps/client/src/pages/Login.test.tsx
Labels: UI, Test

Fixed: Errors in the test cases for several test cases
  apps/client/src/pages/Login.test.tsx
Labels: UI, Test

added role key in Auditlog and added logAction on register and createUser in userBl
  apps/server/src/bl/users/user.bl.ts
  packages/shared/src/types.ts
Labels: Server

formatting shared package
  packages/shared/.prettierignore
  packages/shared/.prettierrc
  packages/shared/eslint.config.mjs
  packages/shared/package.json
  packages/shared/src/logger.ts
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
  packages/shared/tsconfig.json
  packages/shared/vite.config.ts
Labels: none

add shared format in ci
  .github/workflows/ci.yaml
Labels: DevOps

fix bug of injection in the pr title validation
  .github/workflows/PR fields validation.yml
Labels: DevOps

fix other issues of potential injection
  .github/workflows/release.yml
  .github/workflows/sync-version.yml
Labels: DevOps

NEW TEST 1: MAILER WORKFLOW
  apps/server/src/api/v1/users/controller.ts
  apps/server/src/api/v1/users/router.ts
  apps/server/src/config/config.ts
  apps/server/src/dal/external-client/mail-client.ts
  default-config.yml
  scripts/start-docker.sh
Labels: Server

Small config change
  docker-compose.yml
Labels: none

Update start-docker.sh
  scripts/start-docker.sh
Labels: none

NEW API TO HIDE FORGET UNLESS CONFIGURED
  apps/client/src/lib/api.ts
  apps/client/src/pages/Login.tsx
  apps/server/src/api/health.ts
  apps/server/src/api/v1/users/controller.ts
Labels: Server, UI

dockerhub based testing
  docker-compose.dev.yml
  docker-compose.yml
Labels: none

Add welcome email on user creation
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/config/config.ts
  apps/server/src/dal/external-client/mail-client.ts
  apps/server/src/utils/mailTemplate.ts
  default-config.yml
Labels: Server

Fix subject and user name
  apps/server/src/utils/mailTemplate.ts
Labels: Server

Fix code format and mail base link validation
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/config/config.ts
  apps/server/src/dal/external-client/mail-client.ts
  apps/server/src/utils/mailTemplate.ts
Labels: Server

Add optional mark for email templates config
  apps/server/src/config/config.ts
Labels: Server

Fix email subject selection
  apps/server/src/dal/external-client/mail-client.ts
Labels: Server

added role on table creation
  apps/server/src/dal/auditLogRepository.ts
Labels: Server

Fix import
  apps/server/src/dal/external-client/mail-client.ts
Labels: Server

Final push after testing emailer config
  docker-compose.yml
  scripts/start-docker.sh
Labels: none

fix-linter
  apps/server/src/api/v1/users/controller.ts
Labels: Server

fix-linter2
  apps/server/src/api/health.ts
  apps/server/src/api/v1/users/controller.ts
Labels: Server

fix-linter3
  apps/server/src/api/v1/users/controller.ts
Labels: Server

fix-linter4
  apps/client/src/pages/Login.tsx
Labels: UI

Fix prettier 1
  apps/server/src/api/health.ts
  apps/server/src/api/v1/users/controller.ts
  apps/server/src/config/config.ts
  apps/server/src/dal/external-client/mail-client.ts
Labels: Server

Fix prettier 2
  apps/server/src/api/v1/users/controller.ts
Labels: Server

[TEST]: Add comprehensive unit tests for Profile page
  apps/client/src/pages/Profile.test.tsx
Labels: UI, Test
