Repository OpsiMate/OpsiMate, pull requests merged in 2025-09, with the labels that each got.

#239 # 229: Bugfix – Documentation Button in Integration "About" Section Does Nothing
  apps/client/src/pages/Integrations.tsx
Labels: UI

#240 Bugfix/esm load
  apps/server/package.json
  apps/server/src/dal/kubeConnector.ts
  pnpm-lock.yaml
Labels: Server

#246 feat(#235): add GET / endpoint with welcome message
  apps/server/src/api/health.ts
Labels: Server

#265 fix filter is case sensitive
  apps/client/src/components/FilterPanel.tsx
  apps/client/src/pages/Dashboard.tsx
Labels: UI

#266 New kubernetes 1.3.0 version with change to ESM modules
  apps/server/jest.config.js
  apps/server/package.json
  apps/server/src/api/v1/secrets/router.ts
  apps/server/src/bl/providers/provider-connector/k8sProviderConnector.ts
  apps/server/src/dal/alertRepository.ts
  apps/server/src/dal/db.ts
  apps/server/src/dal/kubeConnector.ts
  apps/server/src/dal/sshClient.ts
  apps/server/tsconfig.json
  pnpm-lock.yaml
Labels: enhancement, Server

#268 [FEAT]: Add GitHub Action workflow for PR title and description fields validation
  .github/workflows/PR fields validation.yml
Labels: DevOps
