Repository OpsiMate/OpsiMate, pull requests merged in 2025-10, with the labels that each got.

#276 [FIX]: Login/Signup page fixed UI
  apps/client/src/pages/Login.tsx
  apps/client/src/pages/Register.tsx
Labels: UI

#274 [FEAT]: Enable user detail editing and password resets for admins
  apps/client/src/components/EditUserModal.tsx
  apps/client/src/components/ResetPasswordModal.tsx
  apps/client/src/pages/Settings.tsx
  apps/server/src/api/v1/users/controller.ts
  apps/server/src/api/v1/users/router.ts
  apps/server/src/bl/users/user.bl.ts
  apps/server/src/dal/userRepository.ts
Labels: UI, Server

#271 [FIX] Reload provider not functioning
  .cursor/mcp.json
  apps/client/src/lib/api.ts
  apps/client/src/pages/MyProviders.tsx
  apps/server/src/api/v1/providers/controller.ts
  apps/server/src/api/v1/providers/router.ts
  apps/server/src/app.ts
  apps/server/src/bl/providers/provider.bl.ts
  apps/server/src/dal/kubeConnector.ts
  apps/server/src/jobs/refresh-job.ts
Labels: UI, Server

#277 [FEAT]: Add update secrets API and UI functionality
  apps/client/src/components/EditSecretDialog.tsx
  apps/client/src/lib/api.ts
  apps/client/src/lib/sslKeys.ts
  apps/client/src/pages/Settings.tsx
  apps/server/src/api/v1/secrets/controller.ts
  apps/server/src/api/v1/secrets/router.ts
  apps/server/src/bl/secrets/secretsMetadata.bl.ts
  apps/server/src/dal/secretsMetadataRepository.ts
  packages/shared/src/schemas.ts
Labels: UI, Server

#307 [FEAT]: NEW WORKFLOW TO GREET NEWCOMERS AND LINK THEM TO COMMUNITY
  .github/workflows/greeting.yml
Labels: DevOps, hacktoberfest, hacktoberfest-accepted

#309 [FIX]: WORKFLOW TO GREET NEWCOMERS AND LINK THEM TO COMMUNITY
  .github/workflows/greeting.yml
Labels: bug, DevOps

#292 [FIX]: Dashboard: collapse arrows overlap filter panel
  apps/client/src/pages/Dashboard.tsx
Labels: UI

#303 [FEAT]: Implemented semi transparent scroll to top button
  apps/client/src/App.tsx
  apps/client/src/components/ScrollToTopButton.tsx
Labels: UI, hacktoberfest, hacktoberfest-accepted

#324 [FEAT]: Add audit logging for dashboard view creation (Closes #324)
  apps/server/src/api/v1/views/controller.ts
  apps/server/src/bl/custom-views/custom-view.bl.ts
  packages/shared/src/types.ts
Labels: bug, Server, hacktoberfest, hacktoberfest-accepted

#314 [FEAT]: Build & Release Workflow Update
  .github/workflows/release.yml
Labels: DevOps, hacktoberfest, hacktoberfest-accepted

#273 [FIX]: Update provider IP validation to accept DNS hostnames as well as IP addresses
  apps/client/src/components/ProviderSidebar.tsx
  apps/client/src/components/ValidationFeedback.tsx
  packages/shared/src/schemas.ts
Labels: UI, hacktoberfest, hacktoberfest-accepted, pending-author

#326 [FIX] Startup script updation
  docker-compose.yml
  scripts/start-docker.sh
Labels: enhancement, DevOps, hacktoberfest, hacktoberfest-accepted

#328 [FIX]: Update Docker Quick Start instructions for separate frontend, backend images and also for proper PR title workflow
  CONTRIBUTING.md
  PROJECT_DOCUMENTATION.md
  README.md
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted

#319 [FEAT]: Search feature implemented to custom field in Admin settings
  apps/client/src/components/CustomFieldsTable.tsx
Labels: UI, hacktoberfest, hacktoberfest-accepted

#336 [FEAT]: Improve audit log table pagination UI and layout
  apps/client/src/pages/Settings.tsx
Labels: enhancement, UI, hacktoberfest, hacktoberfest-accepted
